Flask                  ==2.0.2
gunicorn               ==20.1.0
keras                  ==2.7.0
numpy                  ==1.21.4
pip                    ==20.1.1
tensorflow-cpu            ==2.5.0
tensorflow-hub         ==0.12.0
