astroid==2.3.3
click==8.0.3
colorama==0.4.3
Flask==2.0.2
isort==4.3.21
itsdangerous==2.0.1
Jinja2==3.0.3
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
mccabe==0.6.1
pygame==1.9.6
pygame-gui==0.5.7
pylint==2.4.4
Werkzeug==2.0.2
wrapt==1.11.2
